RewriteEngine On

# API Routing
RewriteRule ^api/?$ api/index.php [L]
RewriteRule ^api/(.*)$ api/index.php [L]

# SPA Routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
